# History files
.Rhistory
.RData
.Rproj.user
.Ruserdata

# macOS hidden file
.DS_Store

# fastq files
data/raw/fastq   
# ignores whole directory

*.fastq.gz
#ignores compressed fastq files within directories